.wid250
  width: 250rpx


display-flex($flex-row = row nowrap, $justify-content = flex-start, $align-items = false, $align-content = false)
  display: flex
  flex-flow: $flex-row
  justify-content: $justify-content;
  if ($align-items != false)
    align-items: $align-items
  if ($align-content != false)
    align-content: $align-content


.block
  display block

swiper
  height 100%
  // .wx-swiper-dots.wx-swiper-dots-horizontal
  //   margin-bottom: 2rpx;
  // .wx-swiper-dot
  //   width:40rpx;
  //   display: inline-flex;
  //   height: 10rpx;
  //   margin-left: 10rpx;
  //   justify-content:space-between;
  // .wx-swiper-dot
  //   &:before
  //     content: '';
  //     flex-grow: 1; 
  //     background: rgba(255,255,255,0.8);
  //     border-radius: 8rpx
  // .wx-swiper-dot-active
  //   &:before
  //     background:rgba(244,0,0,0.8);

.boxer
  width 100vw
  height 100vh
  overflow hidden
  position relative
  .stickyBottomBar
    position fixed
    left 30rpx
    bottom 50rpx
    width 96vw
    .recodeButton
      font-size 22px
      image
        margin 0 auto
  .ul
    width 100%
    height 100%
    padding-bottom 60px
    .item-title
      font-size 20px
      margin-left: 18px
      margin-top 18px
      display block
  .item-normal
    width auto
    height 180px
    overflow hidden
    font-size 14px
    padding 10px
    border-radius 5px
    margin-bottom 20rpx
    .htitles
      display-flex(row nowrap, space-between, center, center)
      width 100%
      .item-icon
        font-size 14px
        &:after
          content: '\e618'


shelf()
  .d-swiper-ul
    height 450px
    white-space: nowrap;
    .d-swiper-title
      color: #fff
      overflow hidden
      width 84%
      height 88%
      padding 10px
      font-size 14px
      display: inline-block;
      position relative
      border-radius 10px
      margin 0 4px 0 8px
      margin-top 12px
      box-shadow 0 0 20px rgba(136,136,136, .8)
      .plusMedia
        image
          width 100px
          height 100px
          position absolute
          top:50%;
          left:50%;
          margin-left:-50px;
          margin-top:-55px;
      &:first-child
        margin-left 10px
      &:last-child
        margin-right 12px
    swiper-item
      overflow inherit

shelf()
.shelfEditor
  .hbody
    .hb-item   // 图片显示区
      &:first-child
        height 220px
  .shelf-item-edit-title
    font-size 30px
  .shelf-item-submit
    text-align center
    button
      height:40px;
      line-height:38px;
      width:100px;
      margin:10px auto;
  .shelf-item-upload
    display:flex
    justify-content:center
    margin 20px 0



.ds-li-bg-dc251a
  .d-swiper-title
    margin-top 20px
    background #dc251a
.ds-li-bg-02943e
  .d-swiper-title
    margin-top 20px
    background #02943e
.ds-li-bg-0092df
  .d-swiper-title
    margin-top 20px
    background #0092df
.ds-li-bg-e99718
  .d-swiper-title
    margin-top 20px
    background #e99718
.ds-li-bg-dcdcdc
  .d-swiper-title
    margin-top 20px
    background #dcdcdc
.list-normal
  >.li
    font-size 14px
    padding 6px 0
    border-bottom 1px solid #d3d3d3
    &:last-child
      border-bottom none

// //swiper
// .d-swiper-li
//   color: #fff
//   font-size 14px
// .d-swiper-title
//   height 88%
//   padding 10px
//   width 84%
//   display: inline-block;
//   position relative
//   border-radius 10px
//   margin 0 4px 0 8px
//   margin-top 12px
//   overflow hidden
//   box-shadow 0 0 20px rgba(136,136,136, .8)
//   .plusMedia
//     image
//       width 100px
//       height 100px
//       position absolute
//       top:50%;
//       left:50%;
//       margin-left:-50px;
//       margin-top:-55px;
//   &:first-child
//     margin-left 10px
//   &:last-child
//     margin-right 12px
// .d-swiper-ul
//   height 450px
//   white-space: nowrap;
//   .d-swiper-title
//     @extends .d-swiper-li
//   swiper-item
//     overflow inherit
//   // swiper-item
//   //   @extends .d-swiper-li
// .ds-li-bg-dc251a
//   .d-swiper-title
//     margin-top 20px
//     background #dc251a
//   // swiper-item
//   //   background #dc251a
// .ds-li-bg-02943e
//   .d-swiper-title
//     margin-top 20px
//     background #02943e
//   // swiper-item
//   //   background #02943e
// .ds-li-bg-0092df
//   .d-swiper-title
//     margin-top 20px
//     background #0092df
//   // swiper-item
//   //   background #0092df
// .ds-li-bg-e99718
//   .d-swiper-title
//     margin-top 20px
//     background #e99718
//   // swiper-item
//   //   background #e99718
// .ds-li-bg-dcdcdc
//   .d-swiper-title
//     margin-top 20px
//     background #dcdcdc
// .list-normal
//   >.li
//     font-size 14px
//     padding 6px 0
//     border-bottom 1px solid #d3d3d3
//     &:last-child
//       border-bottom none

.frozen 
  height: 80vh; 
  width: 90vw; 
  overflow: hidden; 
  padding-top: 20px; 
  padding-bottom 10px
  top: -50px

/*
 * 上传默认样式
*/
.uploads-container 
  padding 10px
  display flex
  // justify-content: flex-start
  justify-content: center
  align-items: center
  height 100%
  .uploads-addone
    width 100px
    height 100px
    position relative
    display flex
    justify-content: center
    align-items: center
    font-size 40px
    // background-color blue
    // margin-right 10px
    margin 20px
  .uploads-item
    position relative
    display flex
    width 120px
    // height 120px
    justify-content: center
    align-items: center
    border 1px solid #dcdcdc
    margin-right 10px
    .uploads-delet
      position absolute
      right: 0
      top: 0
      width 20px
      height 20px
      text-align center
      line-height 20px
      background-color yellow

// image.thumbnail
//   width 80%




